.jumbotron {
    color: #F7D23D;
    background-color: black;
    padding: 10px;
    border-bottom: 1px solid #F7D23D;
    box-shadow:  1px -1px #F7D23D,
         2px -2px #F7D23D,
         3px -3px #F7D23D,
         4px -4px #F7D23D,
         5px -5px #F7D23D;
}

body {
    background-color: #38393b;
}

#aboutMe, #portfolioMe, #contactMe {
    height: 75px;
}

.col-lg-4,
.col-lg-3 {
    color: #F7D23D;
    background-color: black;
    background-color: black;
    padding: 10px;
    border: 1px solid #F7D23D;
    box-shadow:  1px -1px #F7D23D,
         2px -2px #F7D23D,
         3px -3px #F7D23D,
         4px -4px #F7D23D,
         5px -5px #F7D23D;
}

.scrollBox {
    position: relative;
    height: 450px;
    overflow: auto;
    display: none;
}

.PP1, .PP2, .PP3, .PP4 {
    text-align: center;
    margin: 25px;
}

img {
    height: 200px;
    width: 200px;
}
